.footer {
  background-color: rgb(22, 22, 23) !important;
  position: fixed;
  bottom: 0;
  height: 36px;
  color: rgb(255, 0, 242);
  text-align: center;
  line-height: 2.5;
  justify-content: center !important;
}

.editor-lang {
  padding: 10px !important;
}

.editor-text {
  text-align: center;
  background-color: rgba(30, 30, 30, 0.87);
  color: rgba(255, 255, 255, 0.972);
  font-size: 1.2em;
  line-height: 2;
  justify-content: center;
}

.output-pane {
  left: 0;
  border: 0px solid;
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-bottom: 20px;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}
pre {
  padding: 10px;
  overflow: auto;
  line-height: 1.45;
  background-color: #ecf1f5;
  border-radius: 6px;
}

.btn-primary:hover {
  color: white !important;
  border: 0px !important;
  background-color: #775ad6 !important;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
.pane.pane-top {
  background-color: #232323;
  padding-left: 5px !important;
  padding-right: 5px !important;
  justify-content: center !important;
}
